@import "tailwindcss";

@theme {
  --color-bg-base: var(--color-slate-900);
  --color-bg-surface: var(--color-slate-800);
  --color-bg-light: var(--color-blue-50);
  --color-text-main: var(--color-slate-50);
  --color-text-muted: var(--color-slate-400);
  --color-text-dark: var(--color-slate-600);
  --color-primary: var(--color-blue-600);
  --color-hover-primary: var(--color-blue-700);
  --color-secondary: var(--color-blue-400);
  --color-hover-secondary: var(--color-blue-500);
  --color-accent-glow: var(--color-sky-400);
  --color-light-accent-glow: var(--color-blue-100);
  --color-success: var(--color-emerald-500);
  --color-secondary-red: var(--color-red-400);
  --color-hover-secondary-red: var(--color-red-500);
  --color-secondary-green: var(--color-green-400);
  --color-hover-secondary-green: var(--color-green-500);
  --color-light-border: var(--color-blue-200);

  --color-light-shadow: var(--color-slate-500);
  --color-shadow: var(--color-slate-600);
  --color-dark-shadow: var(--color-slate-700);
}
