@import "tailwindcss";
@import "@styles/colors.css";
@import "@styles/fonts.css";

:root {
  --margin-none: 0;
  --padding-none: 0;
  --box-sizing-default: border-box;
  --max-layout-width: 1200px;
  --max-content-width: 800px;
}

*,
*::before,
*::after {
  box-sizing: var(--box-sizing-default);
  margin: var(--margin-none);
  padding: var(--padding-none);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-roboto;
}

body,
.wrapper {
  @apply min-h-screen;
}

.wrapper {
  @apply flex flex-col;
}

.main-wrapper {
  @apply flex-1;
}

@utility no-spinner {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@theme {
  --animate-spin-fast: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
